  @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
  * {
      margin: 0 auto;
      padding: 0;
      font-family: 'Roboto Condensed', sans-serif;
  }
  
  body {
      background-size: cover;
      width: 100%;
      height: 100vh;
      background-repeat: no-repeat;
      background: url(https://d.ibtimes.co.uk/en/full/1578573/us-charges-3-chinese-citizens-hacking-law-firms-facilitate-insider-trading.jpg?w=330&h=280&l=50&t=40)
  }
  
  #navigation {
      margin-top: .25rem!important;
  }
  
  a {
      color: azure;
  }
  
  #welcome {
      color: white;
  }